[user]
	name = matt urbanski
  email = murbanski@apple.com
[alias]
  ll = log --oneline --graph --decorate --all
  addall = !git add . && git add -u
  lg = !"git lg1"
  lg1 = !"git lg1-specific --all"
  lg2 = !"git lg2-specific --all"
  lg3 = !"git lg3-specific --all"
  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
  co = checkout
  dt = difftool
  st = status
  ss = status -s
  ci = !git add -A && git pull --rebase && git commit
  amend = commit --amend
  cp = cherry-pick -x
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  kill = reset --hard HEAD^
  ps = push -u origin
  br = branch
  pp = log --oneline --decorate --graph
  incoming = !git fetch && git log master ^origin/master
  outgoing = !git fetch && git log origin/master ^master
  sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
  root = rev-parse --show-toplevel
  d = "!sh -c 'git diff $* | vim -R -' -"
  di = !git diff --cached | vim -R -
  shelve = stash save --include-untracked
  unshelve = stash pop
  pg = push origin HEAD:refs/for/master
[core]
  editor = /usr/bin/vim
  quotepath = false
  autocrlf = input
	excludesfile = /Users/matturbanski/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[gc]
  auto = 1
[color]
  ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[color "branch"]
  current = yellow black
  local = yellow
  remote = magenta
[color "status"]
  added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta
[push]
  default = current
[gitreview]
  username = murbanski
	remote = origin
[pull]
  rebase = true
[rebase]
  stat = true
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
  summary = true
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
