[user]
	name = matt urbanski
	email = matt@iflowfor8hours.info
[alias]
  ll = log --oneline --graph --decorate --all
  lm = "!source ~/.githelpers && pretty_git_merges"
  addall = !git add . && git add -u
  co = checkout
  dt = difftool
  st = status
  ss = status -s
  ci = !git add -A && git pull --rebase && git commit
  aci = "!source ~/.githelpers && what_the_commit"
  amend = commit --amend
  cp = cherry-pick -x
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  kill = reset --hard HEAD^
  ps = push -u origin
  br = branch
  pp = log --oneline --decorate --graph
  type = cat-file -t
  dump = cat-file -p
  incoming = !git fetch && git log master ^origin/master
  outgoing = !git fetch && git log origin/master ^master
  sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
[difftool]
  prompt = false
[core]
  editor = /usr/bin/vim
  quotepath = false
	autocrlf = input
  # safecrlf = true
[gc]
     auto = 1
[merge]
     summary = true
[color]
 ui = true
[color "branch"]
 current = yellow black
 local = yellow
 remote = magenta
[color "status"]
 added = yellow
 changed = green
 untracked = cyan reverse
 branch = magenta
[push]
	default = matching
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[credential "https://github.rackspace.com"]
	username = matt1451
[gitreview]
	username = iflowfor8hours

[pull]
  rebase = true

[rebase]
  stat = true
